@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Molle&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

header {
	background: linear-gradient(to bottom, #55BCD5, #fff);


}



ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Bebas Neue', cursive;
	font-family: 'Molle', cursive;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

nav {
	background-color: #333;
	color: #fff;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	right: 0;
}

nav li {
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: block;
}

main {
	padding: 20px;
}

footer {
	background-color: #EAEAEA;
	color: black;
	padding: 10px;
	text-align: center;
}

.sr-only {
	visibility: hidden;
}

#menu-toggle input[type="checkbox"]:checked+label+ul {
	display: block;
	visibility: hidden;

}

#menu-toggle input[type=checkbox] {
	display: none;
	visibility: hidden;
}

label {
	visibility: hidden;
}

nav {
	background-color: white;
}

nav a {
	color: black;
}

nav li {
	top: 0;
	right: 0;
	background-color: white;
	color: black;
	gap: 2rem;
	justify-content: center;
}

nav li:hover {
	background-color: #F6D64A;
	color: black;
}

h1,
h2,
h3 {
	font-family: 'Molle', cursive;
	font-size: 50px;
}

h4,
p,
q,
small,
nav,
button,
form {
	font-family: 'Montserrat', sans-serif;
}

#plan {
	background-color: #F6D64A;
}

#plan div {
	background-color:#55BCD5;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	gap: 5rem;
}

#about{
	background-color: #499BD2;
}

#about div{
	background-color: #499BD2;
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

#testimonials div{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

#contact form{
	display: grid;
grid-template-columns: 1fr 1fr ;
}
#skip{
	display: none;
}
@media screen and (max-width: 768px) {
	ul {
		top: 70px;
		width: 100%;
		right: -100%;
		/* set initial position outside of screen */
		transition: right 0.5s ease;
		/* add a transition effect */
	}

	
	

	h1,
	h2,
	h3 {
		font-family: 'Molle', cursive;
		font-size: 50px;
	}

	h4,
	p,
	q,
	small,
	nav,
	button,
	form {
		font-family: 'Montserrat', sans-serif;
	}

	#plan {
		background-color: #F6D64A;
		
	}

		#plan div{
			display: grid;
grid-template-rows: 50px;
grid-auto-rows: 1fr;
border: white;
border-radius: 5px;
background-color: #55BCD5;
gap: 5rem;
		}
	

	h4 {
		color: rgb(0, 0, 0);
		margin: 0;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
	}

	a {
		color: white;
		text-decoration: none;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	#testimonials {
		background-color: #fff;
	}

	#testimonials div {
		display: grid;
		grid-template-columns: 1fr;
	}

	#about {
border: white;
border-radius: 5px;
background-color:#499BD2;
	}

	#about div{
		
			display: grid;
			grid-template-columns: 1fr 1fr;
	}

	.required,
	input[type="radio" i],
	#fName,
	#lName,
	#destination,
	#travelTime {
		color: #9B26B0;
	}

form{
	display: grid;
grid-template-rows: 50px;
grid-auto-rows: 1fr;}

	#mySubmit {
		color: #fff;
		background-color: #9B26B0;
	}


}
